version: "3.9"

services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: spenza
      POSTGRES_PASSWORD: spenza
      POSTGRES_DB: spenza
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3.13-management
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: spenza
      RABBITMQ_DEFAULT_PASS: spenza

volumes:
  postgres_data:
    driver: local
